---
# Lookup Nautobot device objects.
# Provide either nautobot_lookup_device_name or explicit filters via
# nautobot_lookup_device_filters / nautobot_lookup_extra_filters.

- name: Validate device lookup inputs
  ansible.builtin.assert:
    that:
      - (nautobot_lookup_device_name is defined and nautobot_lookup_device_name | length > 0)
        or (nautobot_lookup_device_filters is defined and (nautobot_lookup_device_filters | length) > 0)
    fail_msg: "Provide nautobot_lookup_device_name or nautobot_lookup_device_filters for device lookups."

- name: Run Nautobot device lookup
  ansible.builtin.include_tasks: _run_lookup.yml
  vars:
    _name_filter: >-
      {{ ['name=' ~ nautobot_lookup_device_name]
         if (nautobot_lookup_device_name is defined and nautobot_lookup_device_name | length > 0)
         else [] }}
    _explicit_filters: >-
      {{
        nautobot_lookup_device_filters
        if (nautobot_lookup_device_filters is defined)
        else []
      }}
    _extra_filters: >-
      {{
        nautobot_lookup_extra_filters
        if (nautobot_lookup_extra_filters is defined)
        else []
      }}
    nautobot_lookup_resource: "{{ nautobot_lookup_device_resource | default('devices') }}"
    nautobot_lookup_filters: "{{ _name_filter + _explicit_filters + _extra_filters }}"
    nautobot_lookup_depth_value: >-
      {{
        nautobot_lookup_depth
        if (nautobot_lookup_depth is defined)
        else (nautobot_lookup_default_depth if (nautobot_lookup_default_depth is defined) else none)
      }}
